n8n/workflows/followup-handler.json
{
  "name": "Valley Daycare - Follow-Up Handler",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 24,
              "triggerAtHour": 9
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Daily at 9 AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ $env.SITE_URL || 'http://localhost:3000' }}/api/agent/followups",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "process-followups",
      "name": "Process Due Follow-ups",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [500, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-results",
              "leftValue": "={{ $json.results?.length || 0 }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "or"
        }
      },
      "id": "check-has-followups",
      "name": "Has Follow-ups?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [750, 300]
    },
    {
      "parameters": {
        "fieldToSplitOut": "results",
        "options": {}
      },
      "id": "split-followups",
      "name": "Split Follow-ups",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [1000, 200]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "is-processed",
              "leftValue": "={{ $json.status }}",
              "rightValue": "processed",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        }
      },
      "id": "check-processed",
      "name": "Is Processed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1250, 200]
    },
    {
      "parameters": {
        "fromEmail": "contact@valleydaycaresites.com",
        "toEmail": "={{ $json.leadEmail }}",
        "subject": "Following up on your daycare website",
        "text": "={{ $json.message }}",
        "options": {}
      },
      "id": "send-followup",
      "name": "Send Follow-up Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1500, 100],
      "credentials": {
        "smtp": {
          "id": "HOSTINGER_SMTP_CREDENTIAL_ID",
          "name": "Hostinger SMTP"
        }
      }
    },
    {
      "parameters": {
        "content": "## No Follow-ups Today\n\nNo follow-ups are due to be sent.",
        "height": 200,
        "width": 300
      },
      "id": "no-followups",
      "name": "No Follow-ups",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [1000, 400]
    },
    {
      "parameters": {
        "content": "## Follow-ups Summary\n\nProcessed: {{ $('Process Due Follow-ups').item.json.processed || 0 }} follow-ups\n\nResults:\n{{ $json.map(r => `${r.leadEmail}: ${r.status}`).join('\\n') }}",
        "height": 200,
        "width": 350
      },
      "id": "summary",
      "name": "Summary",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [1750, 100]
    }
  ],
  "connections": {
    "Daily at 9 AM": {
      "main": [
        [
          {
            "node": "Process Due Follow-ups",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Due Follow-ups": {
      "main": [
        [
          {
            "node": "Has Follow-ups?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Follow-ups?": {
      "main": [
        [
          {
            "node": "Split Follow-ups",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Split Follow-ups": {
      "main": [
        [
          {
            "node": "Is Processed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Processed?": {
      "main": [
        [
          {
            "node": "Send Follow-up Email",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": ""
  }
}
